---
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import MainLayout from "./main-layout.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">;

const slug = Astro.props.slug;
const {
  title,
  description,
  pubDate,
  updatedDate,
  coverImage,
  category,
  inDev,
  publishDate
} = Astro.props.data;
---

<Layout title={title}>
  <div class="min-h-screen bg-white rounded-lg shadow-lg">
    <div
      class="relative container max-w-screen-md mx-auto px-4 sm:px-6 lg:px-8 py-10"
    >
      <a
        href="/challenge"
        class={cn(
          buttonVariants({ variant: "ghost" }),
          "absolute left-[-200px] top-10 hidden xl:inline-flex bg-gray-50 text-muted-foreground hover:bg-gray-100"
        )}
        transition:animate="slide"
      >
        See all posts
      </a>

      <article class="prose dark:prose-invert max-w-none">
        <Image
          class="w-full rounded-xl overflow-hidden my-6 object-contain"
          width={1020}
          height={510}
          src={coverImage}
          alt=""
          transition:name={"img-" + slug}
        />

        <h1
          class="font-heading text-4xl font-bold text-gray-900 my-4"
          transition:name={"title-" + slug}
        >
          {title}
        </h1>
        <p class="text-lg text-gray-600">{description}</p>
        <hr class="my-8 border-gray-200" />
        <div class="prose-lg prose-gray"></div>
        {inDev == true ? <div class="tenor-gif-embed" data-postid="18632420" data-share-method="host" data-aspect-ratio="1.25" data-width="100%"><a href="https://tenor.com/view/work-work-in-progress-wip-hurray-design-in-progress-gif-18632420">Work Work In Progress Sticker</a>from <a href="https://tenor.com/search/work-stickers">Work Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script><h1>Check Back {publishDate}</h1> : <slot />}
      </article>
    </div>
  </div>
</Layout>
